.tabs-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.375rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  outline: none;
  padding: 0.25rem;
  background-color: hsl(210 40% 96.1%);
  color: hsl(215.4 16.3% 46.9%);
  box-sizing: border-box;
}

.tabs-trigger {
  width: 100px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: calc(0.5rem - 4px);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-color: hsl(214.3 31.8% 91.4%);
  &:disabled {
    // width: 100px;
    pointer-events: none;
    opacity: 0.5;
    background-color: transparent;
  }
}

.tabs-content {
  margin-top: 0.5rem;
}
