.tabs-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: $tabs-line-height-primary;
  border-radius: $tabs-border-radius-primary;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  outline: none;
  padding: $tabs-padding-primary;
  background-color: hsl(210 40% 96.1%);
  color: hsl(215.4 16.3% 46.9%);
  box-sizing: border-box;
}

.tabs-trigger {
  width: $tabs-width-primary;
  font-weight: $tabs-font-weight-primay;
  font-size: $tabs-font-size-primary;
  line-height: $tabs-line-height-secondary;
  padding-top: $tabs-padding-secondary;
  padding-bottom: $tabs-padding-secondary;
  padding-left: $tabs-padding-danger;
  padding-right: $tabs-padding-danger;
  border-radius: calc(0.5rem - 4px);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-color: hsl(214.3 31.8% 91.4%);
  &:disabled {
    pointer-events: none;
    opacity: $tabs-opacity-primary;
    background-color: transparent;
  }
}

.tabs-content {
  margin-top: $tabs-margin-top-primary;
}
