@mixin animate-accordion-up {
  animation-name: accordion-up;
  animation-duration: $accordian-duration-primary;
  animation-timing-function: ease-out;
}

@mixin animate-accordion-down {
  animation-name: accordion-down;
  animation-duration: $accordian-duration-primary;
  animation-timing-function: ease-out;
}

@keyframes accordion-down {
  from {
    height: $accordian-height-up;
  }
  to {
    height: $accordian-height-down;
  }
}

@keyframes accordion-up {
  from {
    height: $accordian-height-down;
  }
  to {
    height: $accordian-height-up;
  }
}

.accordian-primitive {
  border-bottom-width: $accordian-width-primary;
  color: $accordian-text-primary;
}
.accordion-primitive-trigger {
  appearance: auto;
  -webkit-appearance: button;
  background-color: $accordian-background;
  background-image: none;
  display: flex;
  flex: 1 1 0%;
  padding-top: $accordian-padding-primary;
  padding-bottom: $accordian-padding-secondary;
  font-size: $accordian-font-primary;
  font-weight: $accordian-font-danger;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: $accordian-border; // rgb(226, 232, 240)
  border-bottom-width: $accordian-width-primary;
  border-image-width: 1;
  color: $accordian-text; // #0F172A // #E1E7EF

  &[data-state="open"] > svg {
    transform: rotate(180deg);
  }
  &:hover {
    transition-property: all;
    text-decoration: underline;
  }
}
.chevron-down {
  width: $accordian-width-secondary;
  height: $accordian-height-primary;
  transition-property: transform;
  transition-duration: 200ms;
  color: $accordian-text;
}

.space {
  padding-top: $accordian-padding-danger;
  padding-bottom: $accordian-padding-primary;
}

.header {
  display: flex;
}

.accordion-primitive-content {
  overflow: hidden;
  transition-property: all;
  font-size: $accordian-font-secondary;
  line-height: $accordian-lineheight-primary;
  font-weight: $accordian-fontweight-primary;

  &[data-state="closed"] {
    @include animate-accordion-up;
  }
  &[data-state="open"] {
    @include animate-accordion-down;
  }
}

.sizing {
  width: $accordian-width-danger;
}
