$primary-white: #ffffff;
$primary-white-100: #f8f8ff;
$primary-white-200: #fffafa;
$primary-white-300: #f5fffa;
$primary-white-400: #f5f5f5;
$primary-white-500: #f2f3f4;
$primaray-red: #ff0000;
$primary-red-100: #ff4136;
$primary-red-200: #ff0800;
$primary-red-300: #cc0000;
$primary-red-400: #be0032;
$primary-red-500: #800020;
$primary-blue: #0000ff;
$primary-blue-100: #008cba;
$primary-blue-200: #add8e6;
$primary-blue-300: #00bfff;
$primary-blue-400: #0000cd;
$primary-blue-500: #00008b;
$primary-black: #000000;
$primary-black-100: #333333;
$primary-black-200: #1a2421;
$primary-black-300: #b51414;
$primary-black-400: #100c08;
$primary-black-500: #080808;
$primary-gray: #dddddd;
$primary-gary-100: #d3d3d3;
$primary-gary-200: #c0c0c0;
$primary-gary-300: #e5e4e2;
$primary-gary-400: #a9a9a9;
$primary-gary-500: #c9c0bb;

// Define the default theme
$color1: $primary-blue-200;
$color2: $primary-gary-200;
$color3: $primary-red-200;
$color4: $primary-black;
$color5: $primary-white;
$color6: $primary-gray;

// Define the variable mapping for the dark theme
$map-dark: (
  $color1: red,
  $color2: gray,
);

// Define the variable mapping for the light theme
$map-light: (
  $color1: blue,
  $color2: pink,
);

// Define the function to get the value from the variable map
@function map-value($name) {
  @return map-get($map, "color1");
}

// Define the mixin to apply the variable mapping
@mixin apply-map($map) {
  @each $name, $value in $map {
    // background-color: $value;
  }
}
