@import "./colors.scss";
@import "./spacing.scss";

@mixin light-bg() {
  background-color: $primary-gray;
}

@mixin black-bg() {
  background-color: $primary-black-100;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  &.light {
    @include light-bg();
  }

  &.dark {
    @include black-bg();
  }
}

@mixin color-scheme() {
  @if () {
    background-color: $primary-blue-100;
    color: $primary-black;
  } @else {
    background-color: $primary-white;
    color: $primary-black;
  }
}
