@import "./colors.scss";

// Define font variables
$font-family-sans-serif: "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, serif;
$font-size-base: 16px;

// Define mixins for typography
@mixin font-size($size) {
  font-size: $size;
}

@mixin font-family($family) {
  font-family: $family;
}

// Define a mixin for applying the theme tokens
@mixin theme($primary, $secondary, $danger, $dark) {
  $primary-blue-100: $primary;
  $primary-gary-200: $secondary;
  $primary-red-200: $danger;
  $primary-black-100: $dark;
}
