.form-input {
  // border: 5px solid hsl(214.3 31.8% 91.4%);
  border-width: 5px;
  border-style: solid;
  border-color: $input-border; // #1D283A
  max-width: 24rem;
  padding-top: 0.2rem; //8
  padding-bottom: 0.2rem;
  padding-left: 0.5rem; // 12
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  border-radius: 6px;
  border-width: 1px;
  display: flex;
  height: 2.5rem;
  width: 350rem;
  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: $input-outline; // #1D283A
    outline-offset: 2px;
  }
}
