@import "../spacing.scss";

Button.button {
  border: none;
  padding: $p-10 $p-20;
  border-radius: $p-5;
  font-size: $p-15;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.primary {
    // background-color: var(--color-button-primary);
    background-color: $purple-100;
    color: $color-text;
    border-style: solid;
    border-color: $color-border;
  }

  &.secondary {
    background-color: var(--ele-button-background-sec);
    color: var(-blue-300);
  }

  &.danger {
    background-color: var(--ele-button-background-dan);
    color: var(--ele-background-color);
  }

  span.icon {
    margin-right: $p-10;
  }

  span.label {
    flex: 1;
  }
}
