.button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.primary {
  background-color: #008cba;
  color: white;
}

.secondary {
  background-color: #ddd;
  color: black;
}

.danger {
  background-color: #ff4136;
  color: white;
}

.icon {
  margin-right: 10px;
}

.label {
  flex: 1;
}
