.context-subtrigger {
  display: flex;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.125rem;
  cursor: default;
  outline: 0;
  user-select: none;

  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-secondry;
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  .chevron-right {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
  }
}

.context-subcontent {
  overflow: hidden;
  z-index: 50;
  padding: 0.25rem;
  border-radius: 0.375rem;
  background-color: $contextmenu-background-secondry;
  color: $contextmenu-text;
  //   border: 0 solid #e5e7eb;
  box-shadow: 0 4px 6px -1px $contextmenu-shadow-primary,
    0 2px 4px -1px $contextmenu-shadow-seconadry;
  --tw-enter-opacity: 0.8;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.context-content {
  overflow: hidden;
  z-index: 50;
  padding: 0.25rem;
  border-radius: 0.375rem;
  background-color: $contextmenu-background-secondry;
  overflow: hidden;
  min-width: 8rem;
  width: 16rem;
  border: 0 solid #e5e7eb;
  color: $contextmenu-text;
  box-shadow: 0 4px 6px -1px $contextmenu-shadow-primary,
    0 2px 4px -1px $contextmenu-shadow-seconadry;
  --tw-enter-opacity: 0.8;
  animation-name: enter;
  animation-duration: 0.15s;
  --tw-enter-opacity: initial;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: initial;
}

.context-item {
  display: flex;
  position: relative;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.125rem;
  cursor: default;
  outline: 0;
  user-select: none;

  color: $contextmenu-text-secondary; //$contextmenu-text-secondary
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary; // $contextmenu-background-primary
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.context-checkbox {
  display: flex;
  position: relative;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.125rem;
  cursor: default;
  outline: 0;
  user-select: none;
  color: $contextmenu-text-secondary; //$contextmenu-text-secondary
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary; // $contextmenu-background-primar
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.context-item-indicator {
  display: flex;
  position: absolute;
  left: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
}

.context-item-check {
  width: 1rem;
  height: 1rem;
}

.context-radio-item {
  display: flex;
  position: relative;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  padding-left: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  border-radius: 0.125rem;
  cursor: default;
  outline: 0;
  user-select: none;
  color: $contextmenu-text-secondary; //$contextmenu-text-secondary
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary; //$contextmenu-background-primary
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.context-radio-circle {
  width: 0.5rem;
  height: 0.5rem;
  fill: currentColor;
}

.context-label {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.context-seperator {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  height: 1px;
  background-color: $contextmenu-background-primary;
}

.context-shortcut {
  margin-left: auto;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  color: #6b7280;
}

.demo-trigger {
  display: flex;
  height: 150px;
  width: 300px;
  border-width: 1px;
  border-style: dashed;
  font-size: 0.875rem;
  line-height: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  font-weight: 200;
  border-color: $contextmenu-border;
  color: $contextmenu-text-primary;
}

.demo-content {
  width: 16rem;
}

.demo-subcontent {
  width: 12rem;
}
