.form-input {
  border-style: solid;
  border-color: $input-border;
  padding-top: $input-paddingtop-primary;
  padding-bottom: $input-paddingbottom-primary;
  padding-left: $input-paddingleft-primary;
  padding-right: $input-paddingright-primary;
  font-size: $input-fontsize-primary;
  line-height: $input-lineheight-primary;
  background-color: $input-background-primary;
  border-radius: $input-radius-primary;
  border-width: $input-border-primary;
  display: flex;
  max-width: $input-max-width-primary;
  height: $input-height-secondary;
  width: $input-width-primary;
  color: $input-text;
  &:focus {
    outline-width: $input-outlinewidth-primary;
    outline-style: solid;
    outline-color: $input-outline;
    outline-offset: $input-outlinewidth-primary;
  }
  &::placeholder {
    color: $input-placeholder;
  }
}
