.select-trigger {
  display: flex;
  color: $select-text;
  padding-top: $select-padding-top-primary;
  padding-bottom: $select-padding-bottom-primary;
  padding-left: $select-padding-left-primary;
  padding-right: $select-padding-right-primary;
  background-color: transparent;
  font-size: $select-font-size-primary;
  font-weight: $select-font-weight-primary;
  line-height: $select-line-height-primary;
  justify-content: space-between;
  align-items: center;
  width: $select-width-primary;
  height: $select-height-primary;
  border-radius: $select-radius-primary;
  border-width: $select-border-width-primary;
  border-style: solid;
  border-color: $select-border;
  &:focus {
    outline-width: $select-outline-primary;
    outline-style: solid;
    outline-color: $select-outline;
    outline-offset: $select-outline-primary;
  }
}

.cheverdown {
  width: $select-space-primary;
  height: $select-space-primary;
  opacity: $select-opacity-primary;
}

.select-content {
  width: $select-width-secondary;
  overflow: hidden;
  position: relative;
  z-index: $select-zindex-primary;
  border-radius: $select-border-radius-primary;
  border-width: $select-border-width-primary;
  border-style: solid;
  border-color: $select-border-primary;
  box-shadow: 0px 10px 38px $select-box;
  background-color: $select-bacground-primary;
}

.select-viewport {
  padding: 0.25rem;
  margin: 5px;
}

.select-label {
  padding-top: $selct-padding-top-secondary;
  padding-bottom: $selct-padding-top-secondary;
  padding-right: $padding-right-secondary;
  padding-left: $select-padding-left-secondary;
  font-size: $select-font-size-primary;
  line-height: $select-line-height-primary;
  font-weight: 600;

  color: $select-text-secondary;
}

.select-item {
  display: flex;
  position: relative;
  padding-top: $selct-padding-top-secondary;
  padding-bottom: $selct-padding-top-secondary;
  padding-right: $padding-right-secondary;
  padding-left: $select-padding-left-secondary;
  font-size: $select-font-size-primary;
  line-height: $select-line-height-primary;
  align-items: center;
  width: 100%;
  border-radius: 0.125rem;
  outline: 0;
  user-select: none;
  margin: 3px;
  color: $select-text-primary;
  &[data-disabled] {
    color: $select-text-primary;
    pointer-events: none;
  }
  &[data-highlighted] {
    outline: none;
    background-color: $select-background;
    color: color(dark);
  }
}

.select-item-indicator {
  width: 200%;
  display: flex;
  position: absolute;
  left: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
}

.check {
  width: 1rem;
  height: 1rem;
}

.select-seperator {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  height: 1px;
}

.sizing {
  width: 180px;
}
