@keyframes slideup-fade {
  from {
    opacity: $tooltip-opacity-primary;
    transform: translateY(2px);
  }
  to {
    opacity: $tooltip-opacity-secondary;
    transform: translateY(0);
  }
}

@keyframes slideright-fade {
  from {
    opacity: $tooltip-opacity-primary;
    transform: translateX(-2px);
  }
  to {
    opacity: $tooltip-opacity-secondary;
    transform: translateX(0);
  }
}

@keyframes slidedown-fade {
  from {
    opacity: $tooltip-opacity-primary;
    transform: translateY(-2px); // -2px
  }
  to {
    opacity: $tooltip-opacity-secondary;
    transform: translateY(0);
  }
}

@keyframes slideleft-fade {
  from {
    opacity: $tooltip-opacity-primary;
    transform: translateX(2px);
  }
  to {
    opacity: $tooltip-opacity-secondary;
    transform: translateX(0);
  }
}

.tooltip-primitive-content {
  background-color: transparent;
  border-width: $tooltip-borderwidth-primary;
  border-style: solid;
  border-color: $tooltip-border;
  overflow: hidden;
  z-index: $tooltip-zindex-primary;
  width: $tooltip-width-primary;
  padding: $tooltip-adding-secondary $tooltip-padding-primary;
  color: $tooltip-text-secondary;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  font-size: $tooltip-fontsize-primary;
  line-height: $tooltip-lineheight-primary;
  border-radius: $tooltip-radius-primary;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  &[data-state="delayed-open"][data-side="top"] {
    animation-name: slidedown-fade;
  }
  &[data-state="delayed-open"][data-side="right"] {
    animation-name: slideleft-fade;
  }
  &[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideup-fade;
  }
  &[data-state="delayed-open"][data-side="left"] {
    animation-name: slideright-fade;
  }
}

.icon-button {
  font-family: inherit;
  border-radius: $tooltip-radius-secondary;
  height: $tooltip-space-primary;
  width: $tooltip-space-primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: $tooltip-borderwidth-primary;
  border-style: solid;
  border-color: $tooltip-border;
  background-color: transparent;
  box-sizing: border-box;

  &:hover {
    background-color: $tooltip-background-primary;
  }
}

.icon-plus {
  color: $tooltip-text-primary;
  width: $tooltip-space-secondary;
  height: $tooltip-space-secondary;
}

.add-span {
  position: absolute;
  width: $tooltip-space-danger;
  height: $tooltip-space-danger;
  padding: $tooltip-padding-secondary;
  margin: $tooltip-margin-primary;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: $tooltip-borderwidth-secondary;
}

.add-para {
  margin: $tooltip-margin-secondary;
  padding: $tooltip-padding-secondary;
}

.story-align {
  margin-top: $tooltip-margin-top-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}
