.avatar-root {
  display: flex;
  overflow: hidden;
  position: relative;
  height: $avatar-height-primary;
  width: $avatar-width-primary;
  border-radius: $avatar-border-radius-primary;
  flex-shrink: $avatar-flex-shrink-primary;
  border-color: hsl(214.3 31.8% 91.4%);
}

.avatar-image {
  width: $avatar-width-secondary;
  height: $avatar-height-secondary;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: inherit;
  img {
    max-width: $avatar-width-secondary;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}

.avatar-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $avatar-width-secondary;
  height: $avatar-height-secondary;
  border-radius: $avatar-border-radius-primary;
}
