.radiogroup-primitive-root {
  display: grid;
  gap: $radio-gap-primary;
}

.radiogroup-primitive-item {
  width: $radio-width-primary;
  height: $radio-height-primary;
  border-width: $radio-border-width-primary;
  border-style: solid;
  border-color: $radiogroup-border;
  border-radius: $radio-radius-primary;
  background-color: $radiogroup-background-secondary;
  background-image: none;
  &:focus {
    cursor: pointer;
    outline-width: $radio-outline-primary;
    outline-style: solid;
    outline-color: $input-outline;
    outline-offset: $radio-outline-primary;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: $radio-opacity-primary;
  }
}

.radiogroup-primitive-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  .circle {
    width: $radio-width-secondary;
    height: $radio-height-secpondary;
    border-radius: $radio-radius-primary;
    color: $radiogroup-background-primary;
    fill: $radiogroup-background-primary;
    transform: scale(5, 5);
  }
}

.radiogroup-demo {
  display: flex;
  margin-left: $radio-marginleft-primary;
  align-items: center;
}

.radiogroup-label {
  font-size: $radio-fontsize-primary;
  font-weight: $radio-fontweight-primary;
  line-height: $radio-lineheight-primary;
  padding-left: $radio-paddingleft-primary;
  color: $radiogroup-text;
}
