.checkbox-primitive {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: $checkbox-width-primary;
  height: $checkbox-height-primary;
  border-width: $checkbox-borderwidth-primary;
  flex-shrink: 0;
  border-radius: calc(0.5rem - 4px);
  background-color: $checkbox-background;
  margin-right: $checkbox-marginright-primary;
  border-width: $checkbox-borderwidth-primary;
  border-style: solid;
  border-color: $checkbox-border-primary;

  &:focus {
    outline-width: $ckeckbox-outlinewidth-primary;
    outline-style: solid;
    outline-color: $checkbox-focus;
    outline-offset: $checkbox-outlineoffset-primary;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: $checkbox-opacity-primary;
  }
  &[data-state="checked"] {
    border-color: none;
    background-color: $checkbox-focus;
  }

  .checkbox-primitive-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  .check {
    height: $checkbox-height-secondary;
    width: $checkbox-width-secondary;
    color: $checkbox-check;
    margin: $checkbox-margin-primary;
  }
}

.demo {
  display: flex;
  margin-left: $checkbox-marginleft-primary;
  align-items: center;
}

.demo-label {
  color: $checkbox-text;
  font-size: $checkbox-fontsize-primary;
  line-height: $checkbox-lineheight-primary;
  font-weight: $checkbox-fontweight-primary;
  line-height: $checkbox-lineheight-secondary;
}
