.range-picker {
  display: grid;
  gap: 0.5rem;
  border-color: hsl(214.3 31.8% 91.4%);
}

.range-picker-button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  justify-content: flex-start;
  width: 240px;
  height: 2.5rem;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(214.3 31.8% 91.4%);
}
.range-picker-foreground {
  color: hsl(222.2 47.4% 11.2%); // hsl(215.4 16.3% 46.9%)
}

.calender-icon {
  align-items: center;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.range-calender {
  opacity: 1;
  background-color: white;
}

.range-popover-content {
  border: none;
}
