.popover-button {
  display: inline-flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  // justify-content: center;
  align-items: center;
  border-radius: calc(0.5rem - 2px);
  text-transform: none;
  background-color: transparent;
  border-style: none;
  // padding-left: 0.75rem;
  // padding-right: 0.75rem;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  &:hover {
    background-color: hsl(210 40% 96.1%);
    color: hsl(222.2 47.4% 11.2%);
  }
}

.switcher-avatar {
  position: relative;
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.switcher-head {
  margin-left: 10px;
}

.switcher-chevron {
  margin-left: auto;
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}

.switcher-content {
  padding: 0;
  width: 200px;
}

.switcher-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.switcher-select-label {
  margin-top: 0.5rem;
}

.switcher-select-item {
  font-weight: 500;
}

.switcher-select-span {
  color: hsl(215.4 16.3% 46.9%);
}
