@keyframes slideRightAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateX(-2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateY(-2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateX(2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateX(0);
  }
}

.popover-primitive-content {
  z-index: $popover-zindex-primary;
  padding: $popover-padding-primary;
  width: $popover-width-primary;
  height: $popover-height-primary;
  border-radius: $popover-radius-primary;
  border-width: $popover-border-width-primary;
  border-style: solid;
  border-color: $popover-border-primary;
  outline: 0;
  background-color: $popover-bacground-primary;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.demo-button {
  border: none;
  padding: 10px 10px; // $p-10 $p-20
  font-size: 15px; //$p-15
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-color: $button-border-secondary;
  background-color: $button-background-secondary;
  color: $button-color-secondary;
  border-width: $popover-border-width-primary;
  border-style: solid;
  &:hover {
    background-color: $popover-hover-primary;
  }
}

.demo-settings {
  width: $popover-width-seondary;
  height: $popover-height-secondary;
}

.demo-span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.demo-popover-content {
  width: 20rem;
}
.demo-popover-content-divs {
  display: grid;
  font-weight: 500;
  color: $navigation-text-secondary; //$navigation-text-secondary
  //   gap: 1rem;
}

.demo-popover-content-div {
  margin-top: 0.5rem;
}
.demo-popover-content-head {
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
}

.demo-popover-content-para {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.demo-popover-input {
  height: 0;
  padding: 25px;
  grid-column: span 2 / span 2;
}

.demo-popover-input-divs {
  display: grid;
  gap: 0.5rem;
}

.demo-popover-input-div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.demo-size {
  height: 0;
}
