@keyframes slideRightAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateX(-2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateY(-2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: $popover-opacity-primary;
    transform: translateX(2px);
  }
  to {
    opacity: $popover-opacity-secondary;
    transform: translateX(0);
  }
}

.popover-primitive-content {
  z-index: $popover-zindex-primary;
  padding: $popover-padding-primary;
  width: $popover-width-primary;
  height: $popover-height-primary;
  border-radius: $popover-radius-primary;
  border-width: $popover-border-width-primary;
  border-style: solid;
  border-color: $popover-border-primary;
  outline: $popover-outline-primary;
  background-color: $popover-bacground-primary;

  &[data-state="open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  &[data-state="open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  &[data-state="open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  &[data-state="open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}

.demo-button {
  border: none;
  padding: $popover-padding-secondary $popover-padding-secondary;
  font-size: $popover-fontsize-primary;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $popover-radius-secondary;
  border-color: $button-border-secondary;
  background-color: $button-background-secondary;
  color: $button-color-secondary;
  border-width: $popover-border-width-primary;
  border-style: solid;
  &:hover {
    background-color: $popover-hover-primary;
  }
}

.demo-settings {
  width: $popover-width-seondary;
  height: $popover-height-secondary;
}

.demo-span {
  position: absolute;
  width: $popover-space-primary;
  height: $popover-space-primary;
  padding: $popover-padding-danger;
  margin: $popover-margin-primary;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.demo-popover-content {
  width: $popover-width-primary;
}
.demo-popover-content-divs {
  display: grid;
  font-weight: $popover-weight-primary;
  color: $navigation-text-secondary;
}

.demo-popover-content-div {
  margin-top: $popover-margin-top-primary;
}
.demo-popover-content-head {
  font-weight: $popover-weight-primary;
  line-height: $popover-lineheight-primary;
  margin-top: $popover-margin-top-secondary;
}

.demo-popover-content-para {
  font-size: $popover-fontsize-secondary;
  line-height: $popover-lineheight-secondary;
  margin: $popover-space-secondary;
}

.demo-popover-input {
  height: $popover-space-secondary;
  padding: $popover-padding-left-secondary;
  grid-column: span 2 / span 2;
}

.demo-popover-input-divs {
  display: grid;
  gap: $popover-gap-primary;
}

.demo-popover-input-div {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $popover-gap-seconadry;
}

.demo-size {
  height: $popover-space-secondary;
}
