@import "../spacing.scss";

// :root {
//   --color-purple-300: #9d57f4;
// }

Button.button {
  border: none;
  padding: $p-10 $p-20; // $p-10 $p-20
  border-radius: $p-5;
  font-size: $p-15; //$p-15
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &.primary {
    background-color: $button-background-primary; // $button-background-primary
    color: $button-color-primary; // $button-color  #f1fcfd
    // border-style: solid;
  }

  &.secondary {
    border-color: $button-border-secondary;
    background-color: $button-background-secondary; //
    color: $button-color-secondary;
    border-style: solid;
    &:hover {
      background-color: $button-background-hover; //   226, 232, 240  //$button-background-hover
    }
  }

  &.danger {
    background-color: $button-background-danger;
    color: $button-color-secondary;
  }

  span.icon {
    justify-items: center;
  }

  span.label {
    flex: 1;
  }
}
