@import "../spacing.scss";

// :root {
//   --color-purple-300: #9d57f4;
// }

Button.button {
  border: none;
  padding: $p-10 $p-20;
  border-radius: $p-5;
  font-size: $p-15;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.primary {
    background-color: $button-background-primary; // $button-background-primary
    color: #f1fcfd; // $button-color
    border-style: solid;
  }

  &.secondary {
    border-color: #b9c9d1;
    background-color: $button-background-secondary; //
    color: $button-color;
    border-style: solid;
    &:hover {
      background-color: #e2e8f0; //   226, 232, 240
    }
  }

  &.danger {
    background-color: $button-background-danger;
    color: $button-color;
  }

  span.icon {
    margin-right: $p-10;
  }

  span.label {
    flex: 1;
  }
}
