.progress-primitive-root {
  overflow: hidden;
  position: relative;
  height: $progress-height-primary;
  border-radius: $progress-radius-primary;
  width: $progress-width-primary;
  transform: translateZ(0);
  background-color: $progress-background-primary;
}

.progress-primitive-indicator {
  width: $popover-border-width-secondary;
  height: $popover-border-height-primary;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
  background-color: $progress-background-secondary;
}

.demo-progress {
  width: $progress-width-secondary;
}
