.context-subtrigger {
  display: flex;
  padding-top: $context-paddingtop-primary;
  padding-bottom: $context-paddingbottom-primary;
  padding-left: $contecxt-paddingleft-primary;
  padding-right: $contecxt-paddingright-primary;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  align-items: center;
  border-radius: $context-borderradius-secondary;
  cursor: default;
  outline: $context-outline-primary;
  user-select: none;

  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-secondry;
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: $context-opacity-primary;
  }

  .chevron-right {
    margin-left: auto;
    width: $context-width-primary;
    height: $context-height-primary;
  }
}

.context-subcontent {
  overflow: hidden;
  z-index: $context-zindex-primary;
  padding: $context-padding-primary;
  border-radius: $context-borderradius-primary;
  background-color: $contextmenu-background-secondry;
  color: $contextmenu-text;

  box-shadow: 0 4px 6px -1px $contextmenu-shadow-primary,
    0 2px 4px -1px $contextmenu-shadow-seconadry;
}

.context-content {
  overflow: hidden;
  z-index: $context-zindex-primary;
  padding: $context-padding-primary;
  border-radius: $context-borderradius-primary;
  background-color: $contextmenu-background-secondry;
  overflow: hidden;
  min-width: $context-min-width-primary;
  width: $context-width-secondary;
  // border: 0 solid #e5e7eb;
  color: $contextmenu-text;
  box-shadow: 0 4px 6px -1px $contextmenu-shadow-primary,
    0 2px 4px -1px $contextmenu-shadow-seconadry;
  animation-duration: 0.15s;
}

.context-item {
  display: flex;
  position: relative;
  padding-top: $context-paddingtop-primary;
  padding-bottom: $context-paddingbottom-primary;
  padding-left: $contecxt-paddingleft-primary;
  padding-right: $contecxt-paddingright-primary;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  align-items: center;
  border-radius: $context-borderradius-secondary;
  cursor: default;
  outline: $context-outline-primary;
  user-select: none;

  color: $contextmenu-text-secondary;
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary;
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: $context-opacity-primary;
  }
}

.context-checkbox {
  display: flex;
  position: relative;
  padding-top: $context-paddingtop-primary;
  padding-bottom: $context-paddingbottom-primary;
  padding-right: $contecxt-paddingright-primary;
  padding-left: $context-paddingleft-secondary;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  align-items: center;
  border-radius: $context-borderradius-secondary;
  cursor: default;
  outline: $context-outline-primary;
  user-select: none;
  color: $contextmenu-text-secondary;
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary;
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: $context-opacity-primary;
  }
}

.context-item-indicator {
  display: flex;
  position: absolute;
  left: $context-left-primary;
  justify-content: center;
  align-items: center;
  width: $context-space-secondary;
  height: $context-space-secondary;
}

.context-item-check {
  width: $context-space-primary;
  height: $context-space-primary;
}

.context-radio-item {
  display: flex;
  position: relative;
  padding-top: $context-paddingtop-primary;
  padding-bottom: $context-paddingbottom-primary;
  padding-right: $contecxt-paddingright-primary;
  padding-left: $context-paddingleft-secondary;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  align-items: center;
  border-radius: $context-borderradius-secondary; // $context-borderradius-secondary
  cursor: default;
  outline: $context-outline-primary;
  user-select: none;
  color: $contextmenu-text-secondary;
  &[data-highlighted] {
    outline: none;
    background-color: $contextmenu-background-primary;
    color: color(dark);
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: $context-opacity-primary;
  }
}

.context-radio-circle {
  width: $context-space-danger; // $context-space-danger
  height: $context-space-danger;
  fill: currentColor;
}

.context-label {
  padding-top: $context-paddingtop-primary;
  padding-bottom: $context-paddingbottom-primary;
  padding-left: $contecxt-paddingleft-primary;
  padding-right: $contecxt-paddingright-primary;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  font-weight: $context-weight-primary;
}

.context-seperator {
  margin-top: $context-margin-top-primary;
  margin-bottom: $context-margin-top-primary;
  margin-left: $context-margin-left-primary;
  margin-right: $context-margin-left-primary;
  height: $context-height-secondary;
  background-color: $contextmenu-background-primary;
}

.context-shortcut {
  margin-left: auto;
  font-size: $context-fontsize-secondary;
  line-height: $context-lineheight-secondary;
  letter-spacing: $context-letter-spacing;
  color: $contextmenu-text-primary;
}

.demo-trigger {
  display: flex;
  height: $context-height-danger;
  width: $context-media-width-primary;
  border-width: $context-width-danger;
  border-style: dashed;
  font-size: $context-fontsize-primary;
  line-height: $contextlineheight-primary;
  justify-content: center;
  align-items: center;
  border-radius: $context-borderradius-primary;
  font-weight: $context-weight-secondary;
  border-color: $contextmenu-border;
  color: $contextmenu-text-primary;
}

.demo-content {
  width: $context-width-secondary;
}

.demo-subcontent {
  width: $context-media-width-secondary;
}
