.toggle {
  background-color: transparent;
  color: $togggle-text-primary;
  height: $toggle-space-primary;
  width: $toggle-space-primary;
  border-radius: $toggle-radius-primary;
  display: flex;
  font-size: $toggle-fontsize-primary;
  line-height: $toggle-lineheight-primary;
  align-items: center;
  justify-content: center;
  border: none;
  &:hover {
    background-color: $toggle-background-primary;
    color: $toggle-hover; // hsl(215.4 16.3% 46.9%)
  }
  &[data-state="on"] {
    background-color: $toggle-background-primary;
    color: $togggle-text-secondary;
  }
}

.demo-toggle {
  width: $toggle-space-secondary;
  height: $toggle-space-secondary;
}
