.day-picker {
  display: block;
  padding: $calender-padding-primary;
  border-width: $calender-border-width-primary;
  border-style: solid;
  border-radius: calc(0.5rem - 2px);
  border-color: hsl(214.3 31.8% 91.4%);
}
.day-picker-months {
  display: flex;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.day-picker-month {
  min-width: fit-content;
}

.day-picker-caption {
  display: flex;
  position: relative;
  padding-top: $calender-padding-secondary;
  padding-bottom: $calender-padding-secondary;
  justify-content: center;
  align-items: center;
}

.day-picker-caption-label {
  font-weight: $calender-font-weight-primary;
  font-size: $calender-font-size-primary;
  line-height: $calender-line-height-primary;
}

.day-picker-nav {
  display: flex;

  margin-left: $calender-margin-left-primary;
  align-items: center;
}

.day-picker-nav-button {
  font-weight: $calender-font-weight-primary;
  opacity: $calender-opacity-secondary;
  font-size: $calender-font-size-primary;
  line-height: $calender-line-height-primary;
  border-width: $calender-border-width-primary;
  border: solid;
  border-color: hsl(214.3 31.8% 91.4%);
  border-radius: calc(0.5rem - 2px);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: $calender-width-primary;
  height: $calender-height-primary;
  display: inline-flex;
  position: absolute;
  right: $calender-right-primary;
  cursor: pointer;
  text-transform: none;
  &:hover {
    opacity: $calender-opacity-primary;
  }
}

.day-picker-nav-previous {
  font-weight: $calender-font-weight-primary;
  opacity: $calender-opacity-secondary;
  font-size: $calender-font-size-primary;
  line-height: $calender-line-height-primary;
  border-width: $calender-border-width-primary;
  border-style: solid;
  border-color: hsl(214.3 31.8% 91.4%);
  border-radius: calc(0.5rem - 2px);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: $calender-width-primary;
  height: $calender-height-primary;
  display: inline-flex;
  position: absolute;
  left: $calender-left-primary;
  cursor: pointer;
  text-transform: none;
  &:hover {
    opacity: $calender-opacity-primary;
  }
}

.day-picker-nav-next {
  position: absolute;
  right: $calender-right-primary;
}

.day-picker-table {
  border-collapse: collapse;
}

.day-picker-head-row {
  display: flex;
  width: $calender-width-secondary;
  text-indent: 0;
  border-color: inherit;
  display: table;
  color: hsl(222.2 47.4% 11.2%);
  font-feature-settings: "rlig" 1, "calt" 1;
}

.day-picker-head-cell {
  color: hsl(215.4 16.3% 46.9%);
  font-weight: $calender-font-weight-secondary;
  font-size: $calender-font-size-secondary;
  width: $calender-width-danger;
}

.day-picker-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;

  &:has([aria-selected]) {
    margin-left: $calender-margin-left-secondary;
    margin-right: 5px;
    background-color: hsl(210 40% 96.1%);
    border-radius: $calender-border-radius-secondary;
  }
}

.day-picker-cell {
  width: $calender-width-danger;
  height: $calender-height-secondary;
  justify-content: center;
  align-items: center;
  font-size: $calender-font-size-primary;
  line-height: $calender-line-height-primary;
  text-align: center;
  padding: $calender-padding-danger;
  position: relative;
  display: inline-flex;
  vertical-align: inherit;
  cursor: pointer;

  button {
    background-color: transparent;
    background-image: none;
    text-transform: none;
    border: none;
    font-weight: $calender-font-weight-secondary;
    line-height: $calender-line-height-primary;
  }
  &:has([aria-selected]) {
    background-color: hsl(210 40% 96.1%);
  }
  &:hover {
    border-radius: $calender-border-radius-secondary;
    background-color: hsl(210 40% 96.1%);
  }
}

.day-picker-day {
  border-radius: $calender-border-radius-secondary;
  width: $calender-width-danger;
  height: $calender-spacing-primary;
  padding: $calender-padding-danger;
  font-weight: $calender-font-weight-secondary;

  button {
    padding: $calender-padding-danger;
    opacity: $calender-opacity-primary;
    color: hsl(210 40% 98%);
    font-weight: $calender-font-weight-secondary;
    font-size: $calender-font-size-primary;
    line-height: $calender-line-height-primary;
  }
  &[aria-selected="true"] {
    opacity: $calender-opacity-primary;
    border-radius: $calender-border-radius-secondary;
    background-color: hsl(210 40% 96.1%);
    color: hsl(222.2 47.4% 11.2%);
  }
}

.day-picker-selected {
  border-radius: 0.5rem;
  background-color: hsl(222.2 47.4% 11.2%);
  color: hsl(210 40% 98%);
  // &:hover {
  //   border-radius: 0.5rem;
  //   background-color: hsl(222.2 47.4% 11.2%);
  //   color: hsl(210 40% 98%);
  // }

  &[aria-selected="true"] {
    width: $calender-width-danger;
    height: $calender-height-secondary;
    border-radius: $calender-border-radius-secondary;
    background-color: hsl(222.2 47.4% 11.2%);
    color: hsl(210 40% 98%);
  }

  // &:focus {
  //   width: 2.25rem;
  //   height: 2.25rem;
  //   border-radius: 0.5rem;
  //   background-color: hsl(222.2 47.4% 11.2%);
  //   color: hsl(210 40% 98%);
  // }
}
.day-picker-today {
  button {
    color: hsl(210 40% 98%);
    text-transform: none;
    border: none;
    font-weight: $calender-font-weight-secondary;
    line-height: $calender-line-height-primary;
  }
}

.day-picker-outside {
  opacity: $calender-opacity-secondary;
  width: $calender-width-danger;
  height: $calender-height-secondary;
  border-radius: 0.5rem;
  color: hsl(215.4 16.3% 46.9%);

  &:focus {
    opacity: $calender-opacity-primary;
    width: $calender-width-danger;
    height: $calender-height-secondary;
    border-radius: $calender-border-radius-secondary;
    background-color: hsl(222.2 47.4% 11.2%);
    color: hsl(210 40% 98%);
  }
}

.day-picker-middle {
  &[aria-selected="true"] {
    background-color: hsl(210 40% 96.1%);
    color: hsl(222.2 47.4% 11.2%);
  }
}

.day-picker-hidden {
  visibility: hidden;
}

.day-picker-icon {
  width: $calender-height-danger;
  height: $calender-height-danger;
}
