.card-primitive {
  position: relative;
  border-style: solid;
  border-radius: $card-radius-primary;
  border-width: $card-borderwidth-primary;
  border-color: $card-border-primary;
  color: $card-text-secondary;
  background-color: $card-background-primary;
  // width: $card-width-primary;  // for dashboard
}
.card-header {
  display: flex;
  padding: $card-padding-secondary;
  margin-top: $card-margintop-primary;
  flex-direction: row; // column
  padding-bottom: $card-padding-primary;
}

.card-title {
  font-size: $card-fontsize-primary;
  line-height: $card-lineheight-primary;
  font-weight: $card-fontweight-primary;
  letter-spacing: $card-letterspacing-primary;
  line-height: $card-height-primary;
  margin: $card-margin-primary;
  margin-bottom: 20px; // dash
  color: $card-text-primary;
}

.card-description {
  position: absolute;
  left: 10px;
  font-size: $card-fontsize-secondary;
  line-height: $card-lineheight-secondary;
  color: $card-text-danger;
}

.card-content {
  padding: $card-padding-secondary;
  padding-top: $card-padding-primary;
}

.card-footer {
  display: flex;
  padding: $card-padding-danger;
  padding-top: $card-padding-primary;
  align-items: center;
}

.demo-card {
  width: $card-width-primary;
}

.demo-card-titles {
  display: grid;
  align-items: center;
  gap: $card-gap-primary;
  width: $card-width-danger;
}

.demo-card-title {
  display: flex;
  margin-top: $card-margintop-primary;
  flex-direction: column;
  color: $card-text-primary;
}

.demo-card-select {
  width: $card-width-secondary;
}

.demo-card-input {
  width: $card-spacing-primary; //  $card-width-secondary
}
.demo-card-button {
  margin-left: $card-marginleft-primary;
}
.demo-card-button-secondary {
  margin-left: $card-marginleft-secondary;
}

.demo-card-label {
  margin-bottom: $card-marginbottom-primary;
}

.demo-card-footer {
  display: flex;
  justify-content: space-between;
}
