.AccordianPrimitive {
  border-bottom-width: 1px;
}

.accordionPrimitiveTrigger {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition-property: all;
  font-weight: 500;
  flex: 1 1 0%;
  justify-content: space-between;
  align-items: center;

  :hover {
    text-decoration: underline;
  }
}
.chevronDown {
  width: 1rem;
  height: 1rem;
  transition-property: transform;
  transition-duration: 200ms;
}

.space {
  padding-top: 0;
  padding-bottom: 1rem;
  color: color(dark);
}

.header {
  display: flex;
}

.accordionPrimitiveContent {
  overflow: hidden;
  transition-property: all;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
