// @import "../styles/token.scss";

$global-white: #ffffff;
$global-dark: #000000;
$global-transparent: #00000000;
$blue-100: #b7d9f8;
$blue-200: #5eb0ef;
$blue-300: #0091ff;
$blue-400: #0081f1;
$blue-500: #00254d;
$red-100: #f3aeaf;
$red-200: #eb9091;
$red-300: #e5484d;
$red-400: #cd2b31;
$red-500: #381316;
$green-100: #92ceac;
$green-200: #30a46c;
$green-300: #299764;
$green-400: #18794e;
$green-500: #153226;
$yellow-100: #fef2a4;
$yellow-200: #f9e68c;
$yellow-300: #f5d90a;
$yellow-400: #f7ce00;
$yellow-500: #946800;
$purple-100: #f6ebff;
$purple-200: #bd8bfc;
$purple-300: #9d57f4;
$purple-400: #5d13b7;
$purple-500: #33106a;
$gray-100: #e6e6e6;
$gray-200: #d5d5d5;
$gray-300: #909090;
$gray-400: #6d6d6d;
$gray-500: #464646;
$seafoam-100: #cef7f3;
$seafoam-200: #aaf1ea;
$seafoam-300: #8ce9e2;
$seafoam-400: #3fc9c1;
$seafoam-500: #00a19a;
$orange-100: #ffeccc;
$orange-200: #fdd291;
$orange-300: #ffbb63;
$orange-400: #ffa037;
$orange-500: #f68511;
$magenta-100: #ffdce8;
$magenta-200: #ffb2ce;
$magenta-300: #ff95bd;
$magenta-400: #ef5a98;
$magenta-500: #c82269;
$color-background: #cef7f3;
$color-background-primary: #adf4ce;
$color-background-secondary: #f6ebff;
$color-background-danger: #ffb7a9;
$color-border: #222222;
$color-border-primary: #e1f0ff;
$color-border-secondary: #ffe8d7;
$color-border-danger: #ffe5e5;
$color-border-succss: #22a06b;
$color-link: #3892f3;
$color-link-pressed: #147af3;
$color-text: #003571;
$color-text-primary: #216e4e;
$color-text-secondary: #5e4db2;
$color-text-danger: #e34935;
$color-text-warn: #974f0c;
$color-text-select: #147af3;
$color-text-disabled: #091e424f;
$color-icon: #44546f;
$color-button: #091e424f;
$color-button-primary: #85b8ff;
$color-button-secondary: #f5cd47;
$color-button-danger: #5e4db2;
$color-button-hover: #09326c;
$color-shadow: #091e4229;

// $global-white: var(--global-white);
// $global-dark: var(--global-dark);
// $global-transparent: var(global-transparent);
// $blue-100: var(--blue-100);
// $blue-200: var(--blue-200);
// $blue-300: var(--blue-300);
// $blue-400: var(--blue-400);
// $blue-500: var(--blue-500);
