@import "./spacing.scss";

@function color($color-name) {
  @return var(--color-#{$color-name});
}

$white: #ffffff;
$dark: #000000;
$dark-100: hsl(222.2 47.4% 11.2%);
$transparent: #00000000;
$blue-100: #b7d9f8;
$blue-200: #5eb0ef;
$blue-300: #0091ff;
$blue-400: #0081f1;
$blue-500: #00254d;
$red-100: #f3aeaf;
$red-200: #eb9091;
$red-300: #e5484d;
$red-400: #cd2b31;
$red-500: #381316;
$green-100: #92ceac;
$green-200: #30a46c;
$green-300: #299764;
$green-400: #18794e;
$green-500: #153226;
$yellow-100: #fef2a4;
$yellow-200: #f9e68c;
$yellow-300: #f5d90a;
$yellow-400: #f7ce00;
$yellow-500: #946800;
$purple-100: #f6ebff;
$purple-200: #bd8bfc;
$purple-300: #9d57f4;
$purple-400: #5d13b7;
$purple-500: #33106a;
$gray-100: #e6e6e6;
$gray-200: #d5d5d5;
$gray-300: #909090;
$gray-400: #6d6d6d;
$gray-500: #464646;
$gary-600: hsl(215.4 16.3% 46.9%);
$seafoam-100: #cef7f3;
$seafoam-200: #aaf1ea;
$seafoam-300: #8ce9e2;
$seafoam-400: #3fc9c1;
$seafoam-500: #00a19a;
$orange-100: #ffeccc;
$orange-200: #fdd291;
$orange-300: #ffbb63;
$orange-400: #ffa037;
$orange-500: #f68511;
$magenta-100: #ffdce8;
$magenta-200: #ffb2ce;
$magenta-300: #ff95bd;
$magenta-400: #ef5a98;
$magenta-500: #c82269;
$neutral-100: #f1f2f4;
$neutral-200: #8590a2;
$neutral-300: #626f86;
$neutral-400: #2c3e5d;
$neutral-500: #172b4d;
$darkneutral-100: #161a1d;
$darkneutral-200: #1d2125;
$darkneutral-300: #2c333a;
$darkneutral-400: #738496;
$darkneutral-500: #9fadbc;
$darkneutral-600: rgb(68, 74, 84);
$accordian-background: color(transparent);
$accordian-text: color(darkneutral-300);
$accordian-text-primary: color(darkneutral-300);
$accordian-border: color(darkneutral-400);
$checkbox-background: color(transparent);
$checkbox-background-primary: $white;
$checkbox-background-secondary: $dark;
$checkbox-border: color(darkneutral-100);
$checkbox-border-primary: color(white-200);
$checkbox-text: color(dark);
$checkbox-focus: color(purple-300);
$checkbox-check: $white;
$select-background: color(gray-500);
$select-bacground-primary: color(gray-700);
$select-text-primary: color(neutral-100);
$select-text-secondary: color(neutral-200);
$select-text: color(darkneutral-300);
$select-border: color(darkneutral-200);
$select-border-primary: color(darkneutral-600);
$select-outline: color(darkneutral-100);
$select-box: color(neutral-400);
$input-border: color(neutral-300);
$input-outline: color(darkneutral-100);
$input-text: color(dark);
$contextmenu-background: color(neutral-500);
$contextmenu-background-primary: color(gray-500);
$contextmenu-background-secondry: color(gray-100);
$contextmenu-border: color(neutral-300);
$contextmenu-text: color(darkneutral-300);
$contextmenu-text-primary: color(dark-200);
$contextmenu-text-secondary: color(gray-400);
$contextmenu-shadow-primary: color(gray-300);
$contextmenu-shadow-seconadry: color(gray-200);
$radiogroup-text: color(dark);
$radiogroup-background-primary: color(dark-100);
$radiogroup-border: color(white-100);
$radiogroup-border-primary: color(white);
$button-background-primary: color(dark-300);
$button-background-secondary: color(transparent);
$button-background-danger: color(red-400);
$button-color-primary: color(white);
$button-color-secondary: color(dark);
$button-border-secondary: color(white-300);
$button-background-hover: color(white-400);
$textarea-background: color(transparent);
$textarea-color: color(darkneutral-300);
$textarea-color-primary: color(dark-200);
$textarea-border: color(neutral-300);
$textarea-outline: color(darkneutral-100);
$dialog-background-primary: color(white-500);
$dailog-background-secondary: color(dark-400);
$dialog-text-primary: color(neutral-600);
$dialog-text-secondary: color(dark-500);
$dialog-box-color-primary: color(dark-600);
$dialog-box-color-secondary: color(white-600);
$dialog-border-primary: color(gray-600);
$card-background-primary: color(neutral-700);
$card-border-primary: color(darkneutral-600);
$card-text-primary: color(neutral-600);
$card-text-secondary: $dark-100;
$card-text-danger: $gary-600;
$tooltip-border: color(gray-600);
$tooltip-background-primary: color(darkneutral-700);
$tooltip-text-primary: color(dark);
$tooltip-text-secondary: color(dark-700);
$progress-background-primary: color(white-700);
$progress-background-secondary: color(dark-800);
$toggle-background-primary: color(darkneutral-700);
$togggle-text-primary: color(dark);
$togggle-text-secondary: color(text-secondary);
$navigation-text-primary: color(dark);
$navigation-text-secondary: color(dark-700);
$navigation-text-danger: $darkneutral-600;
$navigation-hover-primary: color(white-400);
$navigation-background-primary: color(white-400);
$navigation-background-secondary: $transparent;
$navigation-border-primary: color(white-400);
$navigation-icon-color: color(icon-primary);
$popover-hover-primary: color(white-400);
$popover-border-primary: color(white-400);
$popover-bacground-primary: color(transparent);

$map-light: (
  white: #ffffff,
  white-100: #c4e4f4,
  white-200: #d1d5db,
  white-300: #b9c9d1,
  white-400: #e2e8f0,
  white-500: hsl(0 0% 100% /0.8),
  white-600: hsl(206 22% 7% / 20%),
  white-700: hsl(210 40% 96.1%),
  dark: #000000,
  dark-100: #1c160d,
  dark-200: #6b7280,
  dark-300: #0e0d13,
  dark-400: hsl(0 0% 100%),
  dark-500: hsl(215.4 16.3% 46.9%),
  dark-600: hsl(206 22% 7% / 35%),
  dark-700: #000000,
  dark-800: hsl(222.2 47.4% 11.2%),
  transparent: #00000000,
  blue-100: #b7d9f8,
  blue-200: #5eb0ef,
  blue-300: #0091ff,
  blue-400: #0081f1,
  blue-500: #00254d,
  red-100: #f3aeaf,
  red-200: #eb9091,
  red-300: #e5484d,
  red-400: #cd2b31,
  red-500: #381316,
  green-100: #92ceac,
  green-200: #30a46c,
  green-300: #299764,
  green-400: #18794e,
  green-500: #153226,
  yellow-100: #fef2a4,
  yellow-200: #f9e68c,
  yellow-300: #f5d90a,
  yellow-400: #f7ce00,
  yellow-500: #946800,
  purple-100: #f6ebff,
  purple-200: #bd8bfc,
  purple-300: #4f46e5,
  purple-400: #5d13b7,
  purple-500: #33106a,
  gray-100: #ffffff,
  gray-200: #0000000f,
  gray-300: #0000001a,
  gray-400: #0f172a,
  gray-500: #e2e8f0,
  gray-600: hsl(214.3 31.8% 91.4%),
  gray-700: hsla(0, 0%, 100%, 1),
  seafoam-100: #cef7f3,
  seafoam-200: #aaf1ea,
  seafoam-300: #8ce9e2,
  seafoam-400: #3fc9c1,
  seafoam-500: #00a19a,
  orange-100: #ffeccc,
  orange-200: #fdd291,
  orange-300: #ffbb63,
  orange-400: #ffa037,
  orange-500: #f68511,
  magenta-100: #ffdce8,
  magenta-200: #ffb2ce,
  magenta-300: #ff95bd,
  magenta-400: #ef5a98,
  magenta-500: #c82269,
  darkneutral-100: #5e7d9a,
  darkneutral-200: #b9c9d1,
  darkneutral-300: #0f172a,
  darkneutral-400: #e2e8f0,
  darkneutral-500: #e2e8f0,
  darkneutral-600: hsl(214.3 31.8% 91.4%),
  darkneutral-700: #e2e8f0,
  neutral-100: #0f172a,
  neutral-200: #0f172a,
  neutral-300: #b9c9d1,
  neutral-400: #70737459,
  neutral-500: #d2e2e9,
  neutral-600: #000000,
  neutral-700: hsl(0 0% 100%),
  border: $darkneutral-300,
  border-primary: $blue-500,
  border-secondary: $orange-500,
  border-danger: $red-100,
  border-success: $green-100,
  link: $blue-300,
  link-pressed: $blue-100,
  text: $darkneutral-100,
  text-primary: $green-500,
  text-danger: $red-400,
  text-warn: $yellow-400,
  text-select: $blue-400,
  text-disabled: $darkneutral-400,
  button-primary: $blue-200,
  button-secondary: $purple-400,
  button-danger: $red-200,
  button-hover: $seafoam-500,
  text-secondary: gray,
  icon-primary: $dark,
);

$map-dark: (
  white: #000000,
  white-100: #1d283a,
  white-200: #d1d5db,
  white-300: #1d283a,
  white-400: #1d283a,
  white-500: #00000000,
  white-600: #1d283a,
  white-700: hsl(222.2 47.4% 11.2%),
  dark: #ffffff,
  dark-100: #ffffff,
  dark-200: #6b7280,
  dark-300: #ffffff,
  dark-400: #010101,
  dark-500: hsl(215.4 16.3% 46.9%),
  dark-600: #1d283a,
  dark-700: rgb(68, 74, 84),
  dark-800: hsl(210 40% 98%),
  transparent: #00000000,
  blue-100: #381316,
  blue-200: #0081f1,
  blue-300: #0091ff,
  blue-400: #5eb0ef,
  blue-500: #b7d9f8,
  red-100: #381316,
  red-200: #cd2b31,
  red-300: #e5484d,
  red-400: #eb9091,
  red-500: #f3aeaf,
  green-100: #153226,
  green-200: #18794e,
  green-300: #299764,
  green-400: #30a46c,
  green-500: #92ceac,
  yellow-100: #946800,
  yellow-200: #f7ce00,
  yellow-300: #f5d90a,
  yellow-400: #f9e68c,
  yellow-500: #fef2a4,
  purple-100: #f6ebff,
  purple-200: #bd8bfc,
  purple-300: #4f46e5,
  purple-400: #5d13b7,
  purple-500: #f6ebff,
  gray-100: #000000,
  gray-200: #1d283a,
  gray-300: #1d283a,
  gray-400: #1d283a,
  gray-500: #1d283a,
  gray-600: #1d283a,
  gray-700: $dark,
  seafoam-100: #00a19a,
  seafoam-200: #3fc9c1,
  seafoam-300: #8ce9e2,
  seafoam-400: #aaf1ea,
  seafoam-500: #cef7f3,
  orange-100: #f68511,
  orange-200: #ffa037,
  orange-300: #ffbb63,
  orange-400: #fdd291,
  orange-500: #ffeccc,
  magenta-100: #c82269,
  magenta-200: #ef5a98,
  magenta-300: #ff95bd,
  magenta-400: #ffb2ce,
  magenta-500: #ffdce8,
  darkneutral-100: #1d283a,
  darkneutral-200: #1d283a,
  darkneutral-300: #e1e7ef,
  darkneutral-400: #72767c,
  darkneutral-500: #72767c,
  darkneutral-600: rgb(29, 40, 58),
  darkneutral-700: #1d283a,
  neutral-100: #a5c0d9,
  neutral-200: #a5c0d9,
  neutral-300: #1d283a,
  neutral-400: rgba(112, 115, 116, 0.35),
  neutral-500: #1d283a,
  neutral-600: rgb(225, 231, 239),
  neutral-700: $dark,
  background: $neutral-400,
  background-primary: $green-400,
  background-secondary: $purple-400,
  background-danger: $red-500,
  border: $gray-200,
  border-primary: $neutral-300,
  border-secondary: $orange-100,
  border-danger: $red-300,
  border-success: $green-400,
  link: $blue-300,
  link-pressed: $blue-100,
  text: $darkneutral-500,
  text-primary: $green-200,
  text-danger: $red-100,
  text-warn: $yellow-300,
  text-select: $blue-200,
  text-disabled: $neutral-200,
  button-primary: $neutral-500,
  button-secondary: $purple-300,
  button-danger: $red-500,
  button-hover: $seafoam-100,
  text-secondary: white,
  icon-primary: $gray-100,
);
@mixin apply-map($map) {
  @each $name, $value in $map {
    $var-name: unquote("--color-#{$name}");
    #{$var-name}: $value;
  }
}
