$backgroundColor: #ffffff;
$onBackgroundColor: #2b2b2b;
$onBackgroundLowColor: #9598a1;
$onBackgroundMediumColor: #707279;
$onBackgroundHighColor: #2b2b2b;
$primaryColor: #6c5ce7;
$onPrimaryColor: #ffffff;
$borderMediumColor: #ededed;
$borderMediumHoverColor: #cecece;
$borderMediumFocusColor: #c6c6c6;
$borderMediumActiveColor: #afafaf;
$borderHighColor: #babec9;
$borderHighHoverColor: #a3a6b0;
$borderHighFocusColor: #9da1a9;
$borderHighActiveColor: #8c8f96;
$borderPrimaryColor: #6c5ce7;
$borderPrimaryHoverColor: #8376eb;
$borderPrimaryFocusColor: #897dec;
$borderPrimaryActiveColor: #8f83ed;
$surfaceColor: #ffffff;
$surfaceHoverColor: #edebfc;
$surfaceActiveColor: #dcd8f9;
$surfaceFocusColor: #e2defa;
$onSurfaceColor: #2b2b2b;
$onSurfaceMediumColor: #707279;
$onSurfaceLowColor: #9598a1;
$surface01Color: #fffbff;
$surface02Color: #f7f2fd;
$surfacePrimaryColor: #140068;
$surfacePrimaryHoverColor: #3a2980;
$surfacePrimaryActiveColor: #433386;
$surfacePrimaryFocusColor: #4c3d8c;
$onSurfacePrimaryColor: #ffffff;
$surfaceNeutralColor: #ffffff;
$surfaceNeutralHoverColor: #f4f5f6;
$surfaceNeutralFocusColor: #f1f2f4;
$surfaceNeutralActiveColor: #eeeff2;
$onSurfaceNeutralHighColor: #2b2b2b;
$onSurfaceNeutralMediumColor: #707279;
$onSurfaceNeutralLowColor: #9598a1;
$positiveColor: #37b26c;
$negativeColor: #e62e5c;
$warningColor: #ffc640;
$processColor: #0984e3;
$primarySurfaceColor: #f6f5fe;
$positiveSurfaceColor: #f3faf6;
$negativeSurfaceColor: #fdf2f5;
$warningSurfaceColor: #fffcf4;
$processSurfaceColor: #f0f8fd;
