@function space($space-name) {
  @return var(--space-#{$space-name});
}

$accordian-height-up: space(height-0);
$accordian-height-down: space(spacing-850);
$accordian-width-primary: space(spacing-1);
$accordian-width-secondary: space(space-rem-1);
$accordian-width-danger: space(width-400);
$accordian-height-primary: space(space-rem-1);
$accordian-padding-primary: space(space-rem-1);
$accordian-padding-secondary: space(space-rem-1A);
$accordian-padding-danger: space(space-0);
$accordian-font-primary: space(spacing-300);
$accordian-font-secondary: space(spacing-250);
$accordian-font-danger: space(weight-500);
$accordian-fontweight-primary: space(weight-100);
$accordian-lineheight-primary: space(space-rem-1B);
$accordian-duration-primary: space(duration-1);
$button-padding-primary: space(p-10);
$button-padding-secondary: space(p-20);
$button-radius-primary: space(r-5);
$button-font-primary: space(spacing-250A);
$card-radius-primary: space(space-rem-0);
$card-borderwidth-primary: space(spacing-1);
$card-padding-primary: space(space-0);
$card-padding-secondary: space(space-rem-1C);
$card-padding-danger: space(space-rem-1A);
$card-margin-primary: space(space-num-0);
$card-margintop-primary: space(space-rem-0A);
$card-marginleft-primary: space(width-120);
$card-marginleft-secondary: space(r-5);
$card-marginbottom-primary: space(r-3);
$card-fontsize-primary: space(space-rem-1D);
$card-fontsize-secondary: space(space-rem-1F);
$card-lineheight-primary: space(space-rem-1E);
$card-lineheight-secondary: space(space-rem-1B);
$card-fontweight-primary: space(weight-600);
$card-letterspacing-primary: space(space-rem-neg1);
$card-height-primary: space(space-num-1);
$card-width-primary: space(width-350);
$card-width-secondary: space(width-165);
$card-width-danger: space(width-280);
$card-gap-primary: space(space-rem-1);
$checkbox-width-primary: space(space-rem-1);
$checkbox-width-secondary: space(spacing-300);
$checkbox-height-primary: space(space-rem-1);
$checkbox-height-secondary: space(spacing-300);
$checkbox-borderwidth-primary: space(spacing-1);
$checkbox-margin-primary: space(space-px-neg1);
$checkbox-marginright-primary: space(spacing-100);
$checkbox-marginleft-primary: space(space-rem-0);
$ckeckbox-outlinewidth-primary: space(spacing-50);
$checkbox-outlineoffset-primary: space(spacing-1);
$checkbox-fontsize-primary: space(space-rem-1F);
$checkbox-fontweight-primary: space(weight-400);
$checkbox-lineheight-primary: space(space-rem-1B);
$checkbox-lineheight-secondary: space(space-num-1);
$checkbox-opacity-primary: space(opacity-1);
$context-paddingtop-primary: space(space-rem-0A);
$context-paddingbottom-primary: space(space-rem-0A);
$contecxt-paddingleft-primary: space(space-rem-0);
$contecxt-paddingright-primary: space(space-rem-0);
$context-borderradius-primary: space(space-rem-0A);
$context-borderradius-secondary: space(space-rem-1H);
$context-fontsize-primary: space(space-rem-1F);
$contextlineheight-primary: space(space-rem-1B);
$context-outline-primary: space(space-num-0);
$context-opacity-primary: space(opacity-1);
$context-width-primary: space(space-rem-1);
$context-height-primary: space(space-rem-1);
$dialog-opacity-primary: space(opacity-0);
$dialog-opacity-secondary: space(opacity-2);
$dialog-top: space(space-num-0);
$dialog-bottom: space(space-num-0);
$dialog-left: space(space-num-0);
$dialog-right: space(space-num-0);
$dialog-zindex-primary: space(space-num-50);
$dialog-width-primary: space(spacing-1);
$dialog-height-primary: space(spacing-1);
$dilog-padding-primary: space(space-num-0);
$dialog-padding-secondary: space(space-rem-1C);
$dialog-paddingtop-primary: space(space-rem-1);
$dialog-paddingbottom-primary: space(space-rem-1);
$dialog-gap-primary: space(space-rem-1);
$dialog-radius-primary: space(space-rem-0);
$dialog-fontsize-primary: space(spacing-250A);
$input-border-primary: space(spacing-1);
$input-paddingtop-primary: space(space-rem-1I);
$input-paddingbottom-primary: space(space-rem-1I);
$input-paddingleft-primary: space(space-rem-0);
$input-paddingright-primary: space(space-rem-0);
$input-fontsize-primary: space(space-rem-1F);
$input-lineheight-primary: space(space-rem-1B);
$input-radius-primary: space(r-6);
$input-height-primary: space(space-rem-2A);
$input-outlinewidth-primary: space(spacing-50);
$popover-opacity-primary: space(opacity-0);
$popover-opacity-secondary: space(opacity-2);
$popover-zindex-primary: space(space-num-50);
$popover-padding-primary: space(space-rem-1);
$popover-padding-secondary: space(p-10);
$popover-width-primary: space(space-rem-20);
$popover-width-seondary: space(space-rem-1);
$popover-height-primary: space(space-rem-15);
$popover-height-secondary: space(space-rem-1);
$popover-radius-primary: space(pace-rem-0A);
$popover-border-width-primary: space(spacing-1);
$popover-border-width-secondary: space(percent-100);
$popover-border-height-primary: space(percent-100);
$progress-width-primary: space(width-300);
$progress-width-secondary: space(percent-60);
$progress-height-primary: space(space-rem-1);
$progress-radius-primary: space(r-999);
$radio-gap-primary: space(space-rem-0);
$radio-width-primary: space(space-rem-1);
$radio-width-secondary: space(space-rem1J);
$radio-height-primary: space(space-rem-1);
$radio-height-secpondary: space(space-rem1J);
$radio-border-width-primary: space(spacing-1);
$radio-radius-primary: space(r-999);
$radio-outline-primary: space(spacing-50);
$radio-opacity-primary: space(opacity-1);
$radio-marginleft-primary: space(space-rem-0);
$radio-fontsize-primary: space(spacing-250A);
$radio-fontweight-primary: space(weight-250);
$radio-lineheight-primary: space(space-num-1);
$radio-paddingleft-primary: space(p-10);
$tooltip-opacity-primary: space(opacity-0);
$tooltip-opacity-secondary: space(opacity-2);
$tooltip-borderwidth-primary: space(spacing-1);
$tooltip-borderwidth-secondary: space(space-num-0);
$tooltip-zindex-primary: space(space-num-50);
$tooltip-width-primary: space(width-100);
$tooltip-padding-primary: space(p-10);
$tooltip-adding-secondary: space(p-5);
$tooltip-space-primary: space(spacing-500A);
$tooltip-space-secondary: space(space-rem-1);
$tooltip-fontsize-primary: space(space-rem-1F);
$tooltip-lineheight-primary: space(space-rem-1);
$tooltip-radius-primary: space(spacing-75);
$tooltip-radius-secondary: space(percent-100);
$textarea-margin-primary: space(space-num-0);
$textarea-padding-primary: space(space-rem-0);
$textarea-padding-secondary: space(space-rem-0B);
$textarea-fontsize-primary: space(space-rem-1F);
$textarea-lineheight-primary: space(space-rem-1B);
$textarea-height-primary: space(space-rem-5);
$textarea-borderwidth-primary: space(spacing-1);
$textarea-width-primary: space(percent-100);
$textarea-outline-primary: space(spacing-50);
$textarea-intent-primary: space(space-0);
$toggle-space-primary: space(spacing-500A);
$toggle-space-secondary: space(space-rem-1);
$toggle-radius-primary: space(spacing-75);
$toggle-fontsize-primary: space(spacing-250A);
$toggle-lineheight-primary: space(space-num-1);
$navigation-opacity-primary: space(opacity-0);
$navigation-opacity-secondary: space(opacity-2);
$navigation-opacity-danger: space(opacity-1);
$navigatipon-width-primary: space(width-1000);
$navigation-zindex-primary: space(space-num-1);
$navigation-padding-primary: space(spacing-75);
$navigation-radius-primary: space(spacing-75);
$navigation-radius-secondary: space(r-6);
$navigation-weight-primary: space(weight-500);
$navigation-width-primary: space(percent-40);
$navigation-width-secondary: space(percent-25);
$navigation-margin-primary: space(space-num-0);
$navigation-fontsize-primary: space(spacing-250A);
$navigation-lineheight-primary: space(space-num-1);
$navigation-padding-top-primary: space(spacing-100);
$navigation-padding-right-primary: space(spacing-200);
$navigation-outline-primary: space(space-num-0);
$navigation-gap-primary: space(spacing-50);
$navigation-space-primary: space(space-rem-0B);
$navigation-margin-left-primary: space(space-rem-0C);
$navigation-top-primary: space(space-num-1);
$navigation-top-secondary: space(space-num-0);
$navigation-top-danger: space(percent-100);
$select-padding-top-primary: space(space-rem-0);
$selct-padding-top-secondary: space(space-rem-0A);
$select-padding-bottom-primary: space(space-rem-0);
$select-padding-left-primary: space(space-rem-0B);
$select-padding-left-secondary: space(space-rem-2);
$select-padding-right-primary: space(space-rem-0B);
$padding-right-secondary: space(space-rem-0);
$select-font-size-primary: space(space-rem-1F);
$select-font-weight-primary: space(space-num-20);
$select-line-height-primary: sapce(space-rem-1B);
$select-width-primary: space(width-300);
$select-width-secondary: space(percent-250);
$select-height-primary: sapce(space-rem-2A);
$select-radius-primary: space(space-rem-0A);
$select-outline-primary: space(spacing-50);
$select-border-width-primary: space(spacing-1);
$select-space-primary: space(space-rem-1);
$select-opacity-primary: space(opacity-1);
$select-zindex-primary: space(space-num-50);
$select-border-radius-primary: space(space-rem-0A);
$select-border-width-primary: space(spacing-1);

$map-space: (
  space-0: 0px,
  spacing-1: 1px,
  spacing-50: 2px,
  spacing-75: 4px,
  spacing-100: 8px,
  spacing-200: 12px,
  spacing-250: 14px,
  spacing-250A: 15px,
  spacing-300: 16px,
  spacing-400: 24px,
  spacing-500: 32px,
  spacing-500A: 35px,
  spacing-600: 40px,
  spacing-700: 48px,
  spacing-800: 64px,
  spacing-850: 67px,
  spacing-900: 80px,
  spacing-1000: 96px,
  p-5: 5px,
  p-10: 10px,
  p-20: 20px,
  r-1: 1px,
  r-3: 3px,
  r-5: 5px,
  r-6: 6px,
  r-999: 999px,
  height-0: 0,
  width-100: 100px,
  width-120: 120px,
  width-165: 165px,
  width-280: 280px,
  width-300: 300px,
  width-350: 350px,
  width-400: 450px,
  width-1000: 100vw,
  space-rem-0: 0.5rem,
  space-rem-0A: 0.375rem,
  space-rem-0B: 0.75rem,
  space-rem-0C: 0.25rem,
  space-rem-1: 1rem,
  space-rem-1A: 1.2rem,
  space-rem-1B: 1.25rem,
  space-rem-1C: 1.5rem,
  space-rem-1D: 1.125rem,
  space-rem-1E: 1.75rem,
  space-rem-1F: 0.875rem,
  space-rem-1H: 0.125rem,
  space-rem-1I: 0.2rem,
  space-rem1J: 0.625rem,
  space-rem-2: 2rem,
  space-rem-2A: 2.5rem,
  space-rem-5: 5rem,
  space-rem-15: 15rem,
  space-rem-20: 20rem,
  space-rem-neg1: -0.025em,
  space-px-neg1: -2px,
  weight-100: 100,
  weight-250: 250,
  weight-400: 400,
  weight-500: 500,
  weight-600: 600,
  duration-0: 0s,
  duration-1: 0.2s,
  space-num-0: 0,
  space-num-1: 1,
  space-num-20: 20,
  space-num-50: 50,
  opacity-0: 0,
  opacity-1: 0.5,
  opacity-2: 1,
  percent-25: 25%,
  percent-40: 40%,
  percent-60: 60%,
  percent-100: 100%,
  percent-250: 250%,
);

@mixin apply-space-map($map) {
  @each $name, $value in $map {
    $var-name: unquote("--space-#{$name}");
    #{$var-name}: $value;
  }
}
