$map-space: (
  spacing-50: 2px,
  spacing-75: 4px,
  spacing-100: 8px,
  spacing-200: 12px,
  spacing-300: 16px,
  spacing-400: 24px,
  spacing-500: 32px,
  spacing-600: 40px,
  spacing-700: 48px,
  spacing-800: 64px,
  spacing-900: 80px,
  spacing-1000: 96px,
);

@mixin apply-space-map($map) {
  @each $name, $value in $map {
    $var-name: unquote("--space-#{$name}");
    #{$var-name}: $value;
  }
}
