@import "../styles/colors.scss";
// :root {
//   --global-white: #{$global-white};
//   --global-dark: #{$global-dark};
//   --global-transparent: #{$global-transparent};
//   --blue-100: #{$blue-100};
//   --blue-200: #{$blue-200};
//   --blue-300: #{$blue-300};
//   --blue-400: #{$blue-400};
//   --blue-500: #{$blue-500};
//   --red-100: #{$red-100};
//   --red-200: #{$red-200};
//   --red-300: #{$red-300};
//   --red-400: #{$red-400};
//   --red-500: #{$red-500};
//   --green-100: #{$green-100};
//   --green-200: #{$green-200};
//   --green-300: #{$green-300};
//   --green-400: #{$green-400};
//   --green-500: #{$green-500};
//   --yellow-100: #{$yellow-100};
//   --yellow-200: #{$yellow-200};
//   --yellow-300: #{$yellow-300};
//   --yellow-400: #{$yellow-400};
//   --yellow-500: #{$yellow-500};
//   --purple-100: #{$purple-100};
//   --purple-200: #{$purple-200};
//   --purple-300: #{$purple-300};
//   --purple-400: #{$purple-400};
//   --purple-500: #{$purple-500};
//   --gray-100: #{$gray-100};
//   --gray-200: #{$gray-200};
//   --gray-300: #{$gray-300};
//   --gray-400: #{$gray-400};
//   --gray-500: #{$gray-500};
//   --seafoam-100: #{$seafoam-100};
//   --seafoam-200: #{$seafoam-200};
//   --seafoam-300: #{$seafoam-300};
//   --seafoam-400: #{$seafoam-400};
//   --seafoam-500: #{$seafoam-500};
//   --orange-100: #{$orange-100};
//   --orange-200: #{$orange-200};
//   --orange-300: #{$orange-300};
//   --orange-400: #{$orange-400};
//   --orange-500: #{$orange-500};
//   --magenta-100: #{$magenta-100};
//   --magenta-200: #{$magenta-200};
//   --magenta-300: #{$magenta-300};
//   --magenta-400: #{$magenta-400};
//   --magenta-500: #{$magenta-500};
//   --color-background: #{$color-background};
//   --color-background-primary: #{$color-background-primary};
//   --color-background-secondary: #{$color-background-secondary};
//   --color-background-danger: #{$color-background-danger};
//   --color-border: #{$color-border};
//   --color-border-primary: #{$color-border-primary};
//   --color-border-secondary: #{$color-border-secondary};
//   --color-border-danger: #{$color-border-danger};
//   --color-border-succss: #{$color-border-succss};
//   --color-link: #{$color-link};
//   --color-link-pressed: #{$color-link-pressed};
//   --color-text: #{$color-text};
//   --color-text-primary: #{$color-text-primary};
//   --color-text-secondary: #{$color-text-secondary};
//   --color-text-danger: #{$color-text-danger};
//   --color-text-warn: #{$color-text-warn};
//   --color-text-select: #{$color-text-select};
//   --color-text-disabled: #{$color-text-disabled};
//   --color-icon: #{$color-icon};
//   --color-button: #{$color-button};
//   --color-button-primary: #{$color-button-primary};
//   --color-button-secondary: #{$color-button-secondary};
//   --color-button-danger: #{$color-button-danger};
//   --color-button-hover: #{$color-button-hover};
//   --color-shadow: #{$color-shadow};

//   .dark {
//     --global-white: #{$global-dark};
//     --global-dark: #{$global-white};
//     --global-transparent: #{$global-transparent};
//     --blue-100: #{$blue-500};
//     --blue-200: #{$blue-400};
//     --blue-300: #{$blue-300};
//     --blue-400: #{$blue-200};
//     --blue-500: #{$blue-100};
//     --red-100: #{$red-500};
//     --red-200: #{$red-400};
//     --red-300: #{$red-300};
//     --red-400: #{$red-200};
//     --red-500: #{$red-100};
//     --green-100: #{$green-500};
//     --green-200: #{$green-400};
//     --green-300: #{$green-300};
//     --green-400: #{$green-200};
//     --green-500: #{$green-100};
//     --yellow-100: #{$yellow-500};
//     --yellow-200: #{$yellow-400};
//     --yellow-300: #{$yellow-300};
//     --yellow-400: #{$yellow-200};
//     --yellow-500: #{$yellow-100};
//     --purple-100: #{$purple-500};
//     --purple-200: #{$purple-400};
//     --purple-300: #{$purple-300};
//     --purple-400: #{$purple-200};
//     --purple-500: #{$purple-100};
//     --gray-100: #{$gray-500};
//     --gray-200: #{$gray-400};
//     --gray-300: #{$gray-300};
//     --gray-400: #{$gray-200};
//     --gray-500: #{$gray-100};
//     --seafoam-100: #{$seafoam-500};
//     --seafoam-200: #{$seafoam-400};
//     --seafoam-300: #{$seafoam-300};
//     --seafoam-400: #{$seafoam-200};
//     --seafoam-500: #{$seafoam-100};
//     --orange-100: #{$orange-500};
//     --orange-200: #{$orange-400};
//     --orange-300: #{$orange-300};
//     --orange-400: #{$orange-200};
//     --orange-500: #{$orange-100};
//     --magenta-100: #{$magenta-500};
//     --magenta-200: #{$magenta-400};
//     --magenta-300: #{$magenta-300};
//     --magenta-400: #{$magenta-200};
//     --magenta-500: #{$magenta-100};
//     --color-background: #0f1b2d;
//     --color-background-primary: #00653e;
//     --color-background-secondary: #5d13b7;
//     --color-background-danger: #930000;
//     --color-border: #b1b1b1;
//     --color-border-primary: #102a4c;
//     --color-border-secondary: #441f04;
//     --color-border-danger: #ef5c48;
//     --color-border-succss: #2abb7f;
//     --color-link: #3892f3;
//     --color-link-pressed: #b5deff;
//     --color-text: #e6e6e6;
//     --color-text-primary: #7ee2b8;
//     --color-text-secondary: #b8acf6;
//     --color-text-danger: #ea3829;
//     --color-text-warn: #f5cd47;
//     --color-text-select: #147af3;
//     --color-text-disabled: #bfdbf847;
//     --color-icon: #9fadbc;
//     --color-button: #bfdbf847;
//     --color-button-primary: #0055cc;
//     --color-button-secondary: #946f00;
//     --color-button-danger: #ae2a19;
//     --color-button-hover: #cce0ff;
//     --color-shadow: #0304048f;
//   }
// }

:root {
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-transparent: #00000000;
  --color-blue-100: #b7d9f8;
  --color-blue-200: #5eb0ef;
  --color-blue-300: #0091ff;
  --color-blue-400: #0081f1;
  --color-blue-500: #00254d;
  --color-red-100: #f3aeaf;
  --color-red-200: #eb9091;
  --color-red-300: #e5484d;
  --color-red-400: #cd2b31;
  --color-red-500: #381316;
  --color-green-100: #92ceac;
  --color-green-200: #30a46c;
  --color-green-300: #299764;
  --color-green-400: #18794e;
  --color-green-500: #153226;
  --color-yellow-100: #fef2a4;
  --color-yellow-200: #f9e68c;
  --color-yellow-300: #f5d90a;
  --color-yellow-400: #f7ce00;
  --color-yellow-500: #946800;
  --color-purple-100: #f6ebff;
  --color-purple-200: #bd8bfc;
  --color-purple-300: #9d57f4;
  --color-purple-400: #5d13b7;
  --color-purple-500: #33106a;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #d5d5d5;
  --color-gray-300: #909090;
  --color-gray-400: #6d6d6d;
  --color-gray-500: #464646;
  --color-seafoam-100: #cef7f3;
  --color-seafoam-200: #aaf1ea;
  --color-seafoam-300: #8ce9e2;
  --color-seafoam-400: #3fc9c1;
  --color-seafoam-500: #00a19a;
  --color-orange-100: #ffeccc;
  --color-orange-200: #fdd291;
  --color-orange-300: #ffbb63;
  --color-orange-400: #ffa037;
  --color-orange-500: #f68511;
  --color-magenta-100: #ffdce8;
  --color-magenta-200: #ffb2ce;
  --color-magenta-300: #ff95bd;
  --color-magenta-400: #ef5a98;
  --color-magenta-500: #c82269;
  --color-background: #cef7f3;
  --color-background-primary: #adf4ce;
  --color-background-secondary: #f6ebff;
  --color-background-danger: #ffb7a9;
  --color-border: #222222;
  --color-border-primary: #e1f0ff;
  --color-border-secondary: #ffe8d7;
  --color-border-danger: #ffe5e5;
  --color-border-succss: #22a06b;
  --color-link: #3892f3;
  --color-link-pressed: #147af3;
  --color-text: #003571;
  --color-text-primary: #216e4e;
  --color-text-secondary: #5e4db2;
  --color-text-danger: #e34935;
  --color-text-warn: #974f0c;
  --color-text-select: #147af3;
  --color-text-disabled: #091e424f;
  --color-icon: #44546f;
  --color-button: #091e424f;
  --color-button-primary: #85b8ff;
  --color-button-secondary: #f5cd47;
  --color-button-danger: #5e4db2;
  --color-button-hover: #09326c;
  --color-shadow: #091e4229;

  .dark {
    --color-white: #000000;
    --color-dark: #ffffff;
    --color-transparent: #00000000;
    --color-blue-100: #381316;
    --color-blue-200: #0081f1;
    --color-blue-300: #0091ff;
    --color-blue-400: #5eb0ef;
    --color-blue-500: #b7d9f8;
    --color-red-100: #381316;
    --color-red-200: #cd2b31;
    --color-red-300: #e5484d;
    --color-red-400: #eb9091;
    --color-red-500: #f3aeaf;
    --color-green-100: #153226;
    --color-green-200: #18794e;
    --color-green-300: #299764;
    --color-green-400: #30a46c;
    --color-green-500: #92ceac;
    --color-yellow-100: #946800;
    --color-yellow-200: #f7ce00;
    --color-yellow-300: #f5d90a;
    --color-yellow-400: #f9e68c;
    --color-yellow-500: #fef2a4;
    --color-purple-100: #f6ebff;
    --color-purple-200: #bd8bfc;
    --color-purple-300: #9d57f4;
    --color-purple-400: #5d13b7;
    --color-purple-500: #f6ebff;
    --color-gray-100: #464646;
    --color-gray-200: #6d6d6d;
    --color-gray-300: #909090;
    --color-gray-400: #d5d5d5;
    --color-gray-500: #e6e6e6;
    --color-seafoam-100: #00a19a;
    --color-seafoam-200: #3fc9c1;
    --color-seafoam-300: #8ce9e2;
    --color-seafoam-400: #aaf1ea;
    --color-seafoam-500: #cef7f3;
    --color-orange-100: #f68511;
    --color-orange-200: #ffa037;
    --color-orange-300: #ffbb63;
    --color-orange-400: #fdd291;
    --color-orange-500: #ffeccc;
    --color-magenta-100: #c82269;
    --color-magenta-200: #ef5a98;
    --color-magenta-300: #ff95bd;
    --color-magenta-400: #ffb2ce;
    --color-magenta-500: #ffdce8;
    --color-background: #0f1b2d;
    --color-background-primary: #00653e;
    --color-background-secondary: #5d13b7;
    --color-background-danger: #930000;
    --color-border: #b1b1b1;
    --color-border-primary: #102a4c;
    --color-border-secondary: #441f04;
    --color-border-danger: #ef5c48;
    --color-border-succss: #2abb7f;
    --color-link: #3892f3;
    --color-link-pressed: #b5deff;
    --color-text: #e6e6e6;
    --color-text-primary: #7ee2b8;
    --color-text-secondary: #b8acf6;
    --color-text-danger: #ea3829;
    --color-text-warn: #f5cd47;
    --color-text-select: #147af3;
    --color-text-disabled: #bfdbf847;
    --color-icon: #9fadbc;
    --color-button: #bfdbf847;
    --color-button-primary: #0055cc;
    --color-button-secondary: #946f00;
    --color-button-danger: #ae2a19;
    --color-button-hover: #cce0ff;
    --color-shadow: #0304048f;
  }
}
