:root {
  --backgroundColor: #ffffff;
  --onBackgroundColor: #2b2b2b;
  --onBackgroundLowColor: #9598a1;
  --onBackgroundMediumColor: #707279;
  --onBackgroundHighColor: #2b2b2b;
  --primaryColor: #6c5ce7;
  --onPrimaryColor: #ffffff;
  --borderMediumColor: #ededed;
  --borderMediumHoverColor: #cecece;
  --borderMediumFocusColor: #c6c6c6;
  --borderMediumActiveColor: #afafaf;
  --borderHighColor: #babec9;
  --borderHighHoverColor: #a3a6b0;
  --borderHighFocusColor: #9da1a9;
  --borderHighActiveColor: #8c8f96;
  --borderPrimaryColor: #6c5ce7;
  --borderPrimaryHoverColor: #8376eb;
  --borderPrimaryFocusColor: #897dec;
  --borderPrimaryActiveColor: #8f83ed;
  --surfaceColor: #ffffff;
  --surfaceHoverColor: #edebfc;
  --surfaceActiveColor: #dcd8f9;
  --surfaceFocusColor: #e2defa;
  --onSurfaceColor: #2b2b2b;
  --onSurfaceMediumColor: #707279;
  --onSurfaceLowColor: #9598a1;
  --surface01Color: #fffbff;
  --surface02Color: #f7f2fd;
  --surfacePrimaryColor: #140068;
  --surfacePrimaryHoverColor: #3a2980;
  --surfacePrimaryActiveColor: #433386;
  --surfacePrimaryFocusColor: #4c3d8c;
  --onSurfacePrimaryColor: #ffffff;
  --surfaceNeutralColor: #ffffff;
  --surfaceNeutralHoverColor: #f4f5f6;
  --surfaceNeutralFocusColor: #f1f2f4;
  --surfaceNeutralActiveColor: #eeeff2;
  --onSurfaceNeutralHighColor: #2b2b2b;
  --onSurfaceNeutralMediumColor: #707279;
  --onSurfaceNeutralLowColor: #9598a1;
  --positiveColor: #37b26c;
  --negativeColor: #e62e5c;
  --warningColor: #ffc640;
  --processColor: #0984e3;
  --primarySurfaceColor: #f6f5fe;
  --positiveSurfaceColor: #f3faf6;
  --negativeSurfaceColor: #fdf2f5;
  --warningSurfaceColor: #fffcf4;
  --processSurfaceColor: #f0f8fd;
  --global-white: #ffffff;
  --global-dark: #000000;
  --blue-100: #b7d9f8;
  --blue-200: #5eb0ef;
  --blue-300: #0091ff;
  --blue-400: #0081f1;
  --blue-500: #00254d;
  --red-100: #f3aeaf;
  --red-200: #eb9091;
  --red-300: #e5484d;
  --red-400: #cd2b31;
  --red-500: #381316;
  --green-100: #92ceac;
  --green-200: #30a46c;
  --green-300: #299764;
  --green-400: #18794e;
  --green-500: #153226;
  --yellow-100: #fef2a4;
  --yellow-200: #f9e68c;
  --yellow-300: #f5d90a;
  --yellow-400: #f7ce00;
  --yellow-500: #946800;
  --purple-100: #f6ebff;
  --purple-200: #bd8bfc;
  --purple-300: #9d57f4;
  --purple-400: #5d13b7;
  --purple-500: #33106a;
  --gray-100: #e6e6e6;
  --gray-200: #d5d5d5;
  --gray-300: #909090;
  --gray-400: #6d6d6d;
  --gray-500: #464646;
  --seafoam-100: #cef7f3;
  --seafoam-200: #aaf1ea;
  --seafoam-300: #8ce9e2;
  --seafoam-400: #3fc9c1;
  --seafoam-500: #00a19a;
  --orange-100: #ffeccc;
  --orange-200: #fdd291;
  --orange-300: #ffbb63;
  --orange-400: #ffa037;
  --orange-500: #f68511;
  --magenta-100: #ffdce8;
  --magenta-200: #ffb2ce;
  --magenta-300: #ff95bd;
  --magenta-400: #ef5a98;
  --magenta-500: #c82269;
  --ele-background-color: #140068;
  --ele-button-background-pri: #bf7af0;
  --ele-button-background-sec: #ef5a98;
  --ele-button-background-dan: #cd2b31;

  .dark {
    --backgroundColor: #2b2b2b;
    --onBackgroundColor: #ffffff;
    --primaryColor: #ffffff;
    --onPrimaryColor: #6c5ce7;
    --positiveColor: #e62e5c;
    --negativeColor: #37b26c;
    --global-white: #000000;
    --global-dark: #ffffff;
    --blue-100: #381316;
    --blue-200: #0081f1;
    --blue-300: #0091ff;
    --blue-400: #5eb0ef;
    --blue-500: #b7d9f8;
    --red-100: #381316;
    --red-200: #cd2b31;
    --red-300: #e5484d;
    --red-400: #eb9091;
    --red-500: #f3aeaf;
    --green-100: #153226;
    --green-200: #18794e;
    --green-300: #299764;
    --green-400: #30a46c;
    --green-500: #92ceac;
    --yellow-100: #946800;
    --yellow-200: #f7ce00;
    --yellow-300: #f5d90a;
    --yellow-400: #f9e68c;
    --yellow-500: #fef2a4;
    --purple-100: #f6ebff;
    --purple-200: #bd8bfc;
    --purple-300: #9d57f4;
    --purple-400: #5d13b7;
    --purple-500: #f6ebff;
    --gray-100: #464646;
    --gray-200: #6d6d6d;
    --gray-300: #909090;
    --gray-400: #d5d5d5;
    --gray-500: #e6e6e6;
    --seafoam-100: #00a19a;
    --seafoam-200: #3fc9c1;
    --seafoam-300: #8ce9e2;
    --seafoam-400: #aaf1ea;
    --seafoam-500: #cef7f3;
    --orange-100: #f68511;
    --orange-200: #ffa037;
    --orange-300: #ffbb63;
    --orange-400: #fdd291;
    --orange-500: #ffeccc;
    --magenta-100: #c82269;
    --magenta-200: #ef5a98;
    --magenta-300: #ff95bd;
    --magenta-400: #ffb2ce;
    --magenta-500: #ffdce8;
    --ele-background-color: #cef7f3;
    --ele-button-background-pri: #5d13b7;
    --ele-button-background-sec: #eb9091;
    --ele-button-background-dan: #cd2b31;
  }
}
