@keyframes enterFromLeft {
  from {
    opacity: $navigation-opacity-primary;
    transform: translateX(-200px);
  }
  to {
    opacity: $navigation-opacity-secondary;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: $navigation-opacity-secondary;
    transform: translateX(0);
  }
  to {
    opacity: $navigation-opacity-primary;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: $navigation-opacity-secondary;
    transform: translateX(0);
  }
  to {
    opacity: $navigation-opacity-primary;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: $navigation-opacity-primary;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: $navigation-opacity-secondary;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: $navigation-opacity-secondary;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: $navigation-opacity-primary;
    transform: rotateX(-10deg) scale(0.95);
  }
}

.navigation-menu-root {
  position: relative;
  display: flex;
  justify-content: center;
  width: $navigatipon-width-primary;
  z-index: $navigation-zindex-primary;
}

.navgation-menu-list {
  display: flex;
  justify-content: center;
  background-color: $navigation-background-secondary;
  padding: $navigation-padding-primary;
  border-radius: $navigation-radius-secondary;
  list-style: none;
  margin: $navigation-margin-primary;
}

.navigation-menu-trigger {
  padding: $navigation-padding-top-primary $navigation-padding-right-primary;
  outline: none;
  user-select: none;
  font-weight: $navigation-weight-primary;
  line-height: $navigation-lineheight-primary;
  border-radius: $navigation-radius-primary;
  border: none;
  font-size: $navigation-fontsize-primary;
  color: $navigation-text-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navigation-background-secondary;
  gap: $navigation-gap-primary;
  &:focus {
    outline: $navigation-outline-primary;
  }
  &:hover {
    background-color: $navigation-hover-primary;
  }
  &:disabled {
    pointer-events: none;
    opacity: $navigation-opacity-danger;
  }
  &[data-state="open"] > svg {
    transform: rotate(180deg);
  }
  .chevrondown {
    position: relative;
    margin-left: $navigation-margin-left-primary;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    width: $navigation-space-primary;
    height: $navigation-space-primary;
    top: $navigation-top-primary;
  }
}

.navigation-menu-link {
  padding: $navigation-padding-top-primary $navigation-padding-right-primary;
  outline: none;
  user-select: none;
  font-weight: $navigation-weight-primary;
  line-height: $navigation-lineheight-primary;
  border-radius: $navigation-radius-primary;
  font-size: $navigation-fontsize-primary;
  color: $navigation-text-primary;
  display: block;
  text-decoration: none;
  &:focus {
    outline: $navigation-outline-primary;
  }
  &:hover {
    background-color: $navigation-hover-primary;
  }
}

.navigation-menu-content {
  position: absolute;
  top: $navigation-top-secondary;
  width: $navigation-width-secondary;
  animation-duration: 250ms;
  animation-timing-function: ease;
  &[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }
  &[data-motion="from-end"] {
    animation-name: enterFromRight;
  }
  &[data-motion="to-start"] {
    animation-name: exitToLeft;
  }
  &[data-motion="to-end"] {
    animation-name: exitToRight;
  }
  @media only screen and (min-width: 600px) {
    .navigation-menu-content {
      width: auto;
    }
  }
}

.navigation-menu-primitive {
  position: absolute;
  display: flex;
  justify-content: center;
  width: $navigation-width-primary;
  top: $navigation-top-danger;
  perspective: 2000px;
  .navigation-menu-primitive-viewport {
    border: $naviagation-border;
    border-style: solid;
    border-color: $navigation-border-primary;
    position: relative;
    transform-origin: top center;
    margin-top: $navigation-margin-top-primary;
    width: $navigation-width-primary;
    background-color: $navigation-background-secondary;
    border-radius: $navigation-radius-primary;
    overflow: hidden;
    height: $navigation-height-primary;
    transition: width, height, 300ms ease;
    [data-state="open"] {
      animation: scaleIn 200ms ease;
    }
    [data-state="closed"] {
      animation: scaleOut 200ms ease;
    }
  }
}

.navigation-menu-primitive-inticator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: $navigation-top-danger;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
  [data-state="visible"] {
    animation: fadeIn 200ms ease;
  }
  [data-state="hidden"] {
    animation: fadeOut 200ms ease;
  }

  .navigation-menu-primitive-indicators {
    position: relative;
    --transform-rotate: 45deg;
    width: 0.5rem;
    height: 0.5rem;
  }
}

.demo-menu-list {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
  @media (min-width: 768px) {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }
  @media (min-width: 1024px) {
    width: 500px;
  }

  .demo-menu-lists {
    grid-row: span 3 / span 3;
  }
  .demo-menu-link {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 75%;
    height: 75%;
    background: $navigation-background-primary;
    border-radius: 6px;
    padding: 25px;
    text-decoration: none;
    outline: none;
    user-select: none;
  }

  .demo-menu-logo {
    width: 1.5rem;
    height: 1.5rem;
    color: $navigation-icon-color;
    padding-bottom: 10px;
  }
  .demo-menu-icons {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 16px;
    margin-bottom: 7px;
    color: $navigation-text-secondary;
  }
  .demo-menu-para {
    color: $navigation-text-danger;
    font-size: 14px;
    line-height: 1.3;
  }
}

.demo-menu-content {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
  width: 600px;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 500px;
  }
  @media (min-width: 1024px) {
    width: 600px;
  }
}

.demo-menu-navigation {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 3px;
  border-radius: 6px;
  font-size: 15px;
  line-height: $navigation-lineheight-primary;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-color: $navigation-hover-primary;
    color: $navigation-text-primary;
  }
  .demo-menu-title {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 3px;
    color: $navigation-text-secondary;
    &:hover {
      color: $navigation-text-primary;
    }
  }
  .demo-menu-children {
    color: $navigation-text-danger;
    line-height: 1.4;
    font-weight: initial;
  }
}
