.textarea {
  resize: vertical;
  margin: $textarea-margin-primary;
  letter-spacing: normal;
  text-indent: $textarea-intent-primary;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
}
.text-box {
  font-family: inherit;
  color: $textarea-color;
  background-color: $textarea-background;
  display: flex;
  padding-top: $textarea-padding-primary;
  padding-bottom: $textarea-padding-primary;
  padding-left: $textarea-padding-secondary;
  padding-right: $textarea-padding-secondary;
  border-color: $textarea-border;
  border-radius: calc(0.5rem - 2px);
  border-width: $textarea-borderwidth-primary;
  font-size: $textarea-fontsize-primary;
  line-height: $textarea-lineheight-primary;
  width: $textarea-width-primary;
  height: $textarea-height-primary;
  &:focus {
    outline-width: $textarea-outline-primary;
    outline-style: solid;
    outline-color: $textarea-outline;
    outline-offset: $textarea-outline-primary;
  }
  &::placeholder {
    color: $textarea-color-primary;
  }
}
